
%table
  %tr
    %th
    - @channels.each do |channel|
      %th
        = channel.group
        %br
        = channel.name


  - @screens.each do |screen|
    %tr
      %td= link_to screen.description, screen_path(screen)
      - @channels.each do |channel|
        %td= link_to_switch(screen, channel)
