
%table
  %tr
    %th
    - @screens.each do |screen|
      %th= link_to screen.description, screen_path(screen)

  - @channels.each do |channel|
    %tr
      %td
        = channel.group
        %br
        = channel.name
      - @screens.each do |screen|
        %td= link_to_switch(screen, channel)
