// Place all the styles related to the common controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.common {
  // Place scoped styles here
}