#main {
  ul {
    padding: 0 20px;
  }
}

#notice {
  font-size: 46px;
  line-height: 50px;
  margin: 0;
  padding: 5px 10px;
  height: 3.45em;
  overflow: hidden;
  border-top: 2px solid rgb(255, 100, 50);
  border-bottom: 2px solid rgb(120, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 41, 25)), to(rgb(209, 0, 0)));
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#stream {
  padding: 0;
}

#stream p {
  font-size: 40px;
  word-break: break-all;
  word-wrap: break-word;
}

.tweet {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  border-top: 2px solid #fff;
  border-bottom: 2px solid #bbb;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.tweet p {
  line-height: 50px;
}

.tweet .screen_name a {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 70%;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
  text-decoration: none;
}

.irc {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
  border-top: 2px solid #444;
  border-bottom: 2px solid #000;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}

.irc span {
  line-height: 36px;
}

.irc .screen_name {
  display: inline-block;
  margin: 0 10px 0 -10px;
  padding: 5px 10px;
  font-size: 80%;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc));
  -moz-border-radius: 5px;
  -webkit-border-radius: 0 5px 5px 0;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.icon {
  vertical-align: middle;
}

.screen_name {
  padding: 0 5px;
}

.irc .emoji {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

th {
  font-weight: normal;
}

td {
  padding: 10px;
  text-align: center;

  a.switch {
    padding: 10px 60px;
    color: #fff;
    text-weight: bold;
    text-decoration: none;
  }

  a.on {
    background-color: green;
  }

  a.off {
    background-color: #ccc;
  }
}
