// Place all the styles related to the screens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.screens {
  // Place scoped styles here
}